html,body {
	position: relative;
	min-height: 100vh;
	background-color: #E1E8EE;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3 {
  color: #758597;
  text-align: center;
}
ul{
  list-style-type: none; 
  padding-right: 40px;
  margin:0 auto; 
  width: fit-content;
  text-align: left; 
  font-size:x-large;
  
}

button{
  width: 100%;
  padding: 10px;
  background-color: #758597;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container {
  background-color: #222;
	border-radius: 15px;
	height:auto;
	width: 350px;
	position: relative;
	overflow: hidden;
  background-image: url('img1.jpg');
}
 
  .team{ 
    margin: 20px;
  }
  .calculate{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
  }
  
  .team-container h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .team-container form {
    margin-bottom: 15px;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .team-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .score-inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
  }

  .team-container ul li {
    margin-bottom: 5px;
  }
  
  .results-container {
    margin: 20px;
  }
  
  .prediction-container {
    margin-top: 20px;
  }
  
  .prediction-container p {
    font-size: 1.2rem;
  }
  
  